include ../includes/head.pug
body
    include ../includes/header.pug
    div.wrapper#admin-home
        div.small-form 
            a.admin-action(href="/Admin/New") New Product
            a.admin-action(href="/Admin/View") View Products
            a.admin-action(href="/Admin/Inventory") View Inventory
            a.admin-action(href="/Admin/Supplies") View Supplies
            a.admin-action(href="/Admin/Analytics") Analytics
            a.admin-action(href="/Admin/Users") View Users
            a.admin-action(href="/Admin/Orders") View Orders
            a.admin-action(href="/Admin/Reviews") Reviews
            
