svg#home.title(style='viewBox="0 0 195 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"')
    text.title-text(x="0px" y="80px" style="font-family:'HiraKakuStd-W8', 'Hiragino Kaku Gothic Std', sans-serif;font-weight:800;font-size:80px;fill:rgb(0,3,0);fill-opacity:0;stroke:black;stroke-width:2px;")= "HOME"
